/* BASE STYLES */

* {
    font-family: "EB Garamond", Georgia, serif;
}

html {
    /* font-size: 62.5%; */
    font-family: "EB Garamond", Georgia, serif;
    /* color: #494C4E; */
    -webkit-font-smoothing: antialiased;
    background: #2d71bd;
    min-width: 260px;
}

body {
    background: #ffffff;
    border-color: #2d71bd;
    border-style: solid;
    border-width: 0.5rem;
}

img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    background-color: #F0EEEE;
}

p {
    font-size: 1rem;
}


/* HEADER */

.navbar {
    height: 48px;
}

.navbar-brand {
    /* border: 2px solid #eef6ff; */
    width: 36px;
    height: 36px;
    text-align: center;

    overflow: hidden;
}

.navbar-brand:hover {
    /* border-color: #b6d8ff; */
}

#brand-in, #brand-out {
    color: #2d71bd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
    transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95) 150ms;
}

#brand-in {
    transform: rotateY(90deg) translateY(-36px);
}
#brand-out {
    /* transform: translateY(-48px); */
    transform: rotateY(0deg) translateY(-36px);
}

#brand-in svg {
    height: 32px;
    width: 32px;
}

.brand-image {
    fill: #2d71bd;
}

.navbar-brand:hover #brand-in {
    /* transform: translateY(0px); */
    transform: rotateY(0deg) translateY(0px);  
}

.navbar-brand:hover #brand-out {
    /* transform: translateY(48px); */
    transform: rotateY(90deg) translateY(0px);
}

.navbar-brand span,
.navbar .btn {
    color: #2d71bd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

.navbar .btn {
    margin-left: 10px;
}

/* CONTENT */
.container {
    padding-bottom: 2rem; 
}

.inner-container,
.outer-container {
    /* padding-left: 2rem; */
    /* padding-right: 2rem; */
}

.inner-container {
    max-width: 80em;
    margin-left: auto;
    margin-right: auto;
}

.outer-container {
    /* max-width: 1280px; */
    /* margin-left: auto; */
    /* margin-right: auto; */
}

.hero {
    background-image: url(/images/me.jpg);
    background-position-x: 50%;
    background-position-y: 5%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    min-height: 450px;
    margin-bottom: 4rem;
    align-items: flex-end;
    display: flex;
}

.hero .inner-container {
    color: #F0EEEE;
}

.footer {
    background-color: #2d71bd;
    color: #F0EEEE;
    padding: 2rem 0;
}

.footer .btn-primary {
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ffffff !important;
    color: #2d71bd;
}

.footer .text-me-btn svg {
    transition: all 150ms;
}

.footer .text-me-path {
    fill: #2d71bd;
}

.btn.btn-link.active, .btn.btn-link:active, .btn.btn-link:focus, .btn.btn-link:hover {
    color: #2d71bd;
}

.btn.btn-primary:focus, .btn.btn-primary:hover {
    background: #2d71bd;
    border-color: #2d71bd;
}